* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  font-family: Helvetica, sans-serif;
  background-color: rgb(34, 34, 34);
  height: 100vh;
  color: rgb(250, 250, 250);
}
.App-title {
  font-size: 50px;
  padding: 25px 0;
}

.Timers {
  display: flex;
  justify-content: center;
}
@media (max-width: 900px) {
  .Timers {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 900px) {
  .Stopwatch {
    margin-bottom: 40px;
  }
}
.Countdown,
.Stopwatch {
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid grey;
  border-radius: 4px;
  padding: 5px;
  width: auto;
  background-color: rgb(41, 53, 63);
  box-shadow: 0 3px 6px rgb(12, 12, 12);
  color: white;
}
.Countdown {
  padding-top: 5px;
}

.Countdown-header,
.Stopwatch-header {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

button {
  background-color: #202b33;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  margin: 0 5px;
  cursor: pointer;
  display: inline;
}
button:hover {
  background-color: #106ba3;
}
.Stopwatch button {
  padding: 12px 32px;
  font-size: 20px;
}
.label {
  display: inline-block;
  height: 30px;
  font-size: 20px;
  width: 20%;
  padding: 5px;
}

.stopLabel {
  display: inline-block;
  height: 30px;
  font-size: 20px;
  width: 30%;
  padding: 5px;
}

.Stopwatch-display {
  padding: 40px 0;
  font-size: 48px;
}
.Stopwatch-text {
}
.Countdown-display {
  margin-top: 5px;
  margin-bottom: 5px;
}
.Countdown-display button {
  margin: 0 15px;
  border: solid 1px transparent;
  border-radius: 1px;
  padding: 4px 4px;
  color: #ffffff;

  font-size: 16px;
}
.Countdown-display button:hover {
  background-color: #106ba3;
}
.Countdown-label {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.Countdown-time {
  font-size: 30px;
  margin: 5px 0;
}

.grid {
  position: relative;
}
.item {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 5px;
  z-index: 1;
  background: #000;
  color: #fff;
}
.item.muuri-item-dragging {
  z-index: 3;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}